/* Write your code here. */
* {
  box-sizing: border-box;
  font-family: Roboto;
}

.bg {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.imgBig {
  height: 300px;
  width: 80%;
}
.ulContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: left;
  width: 80%;
}
.textContainer {
  text-align: left;
  width: 80%;
}
